# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDEs
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties

# macOS
.DS_Store
